@import url('components/navbar.css');
@import url('components/button.css');
@import url('components/cta.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.main-container {
    padding: 2rem;
}